DATABASE_URL=postgresql+psycopg://postgres.xkntcckctvbolecxdlwk:PASSWORD_HERE@aws-1-sa-east-1.pooler.supabase.com:5432/postgres
APP_ENV=development
CORS_ALLOWED_ORIGINS=https://tacertoosite.guedeira.dev
